<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter</title>
    <%- include('insideHead') %>
</head>
<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <div>
        <p class="inline-block">Course : </p>
        <p class="font-bold text-xl inline-block"><%= course.name %></p>
        <div>
            <p class="hover:cursor-pointer inline-block bg-lime-300 hover:bg-lime-400 mt-2" onclick="window.location.href='/courses/<%= course.id %>'">Go Back to Course(View Chapters)</p>
        </div>
        
    </div>
    <div class="mt-2" onclick="window.location.href='/chapters/<%= chapter.id %>'">
        <div class="inline-block hover:bg-lime-400 hover:cursor-pointer">
            <p class="inline-block">Chapter : </p>
            <p class="font-bold text-xl inline-block"><%= chapter.name %></p>
        </div>
    </div>
    <hr class="mt-1">
    <h1 class="font-bold text-xl">Pages</h1>
    <hr>
    
    <%- include('notifications') %>
    <%- include('pageviewlist') %>
    
</body>
</html>