<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter</title>
    <%- include('insideHead') %>
</head>
<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    
    <h1 class="font-bold">Add Pages</h1>
    <hr class="mt-2 mb-2">
    <form action="/addPage" method="post" class="text-center">
        <input class="border-2 ml-2" type="text" placeholder="Page Title, min 5 characters" name="title" required>
        <textarea class="border-2 mx-auto block w-3/4 mt-2 mb-2" rows="10" name="content" placeholder="Enter Page Content Here,min 30 characters..." required></textarea>
        <button class="bg-lime-300 ml-2 hover:bg-lime-400" type="submit">Add</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="chapterId" value="<%= chapterId %>">
    </form>
    <%- include('notifications') %>
    <hr class="mt-2">
    <table class="mx-auto">
        <tr>
            <th>
                P.No
            </th>
            <th>
                Page
            </th>
        </tr>
        <% for(var i=0; i < pages.length ;i++){ %>
            <tr class="bg-sky-300 border hover:bg-sky-400">
                <td>
                    <%= pages[i].id %>
                </td>
                <td class="group flex items-center">
                    <%= pages[i].title %>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>