<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter</title>
    <%- include('insideHead') %>
</head>
<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <div class="mb-2">
        <p>
            <a href="/mycourses" class="text-blue-500 underline">My Courses</a><span> >> </span>
            <a href="/course/<%= course.id %>" class="text-blue-500 underline">Course</a><span> >> </span>
            <span> Chapter</span>
        </p>
    </div>
    <div>
        <p class="inline-block">Course : </p>
        <p class="font-bold text-xl inline-block"><%= course.name %></p>
    </div>
    <div class="mt-2">
        <div class="inline-block">
            <p class="inline-block">Chapter : </p>
            <p class="font-bold text-xl inline-block"><%= chapter.name %></p>
        </div>
    </div>
    <hr class="mt-1">
    <h1 class="font-bold text-xl">Pages</h1>
    <hr>
    
    <%- include('notifications') %>
    <%- include('pageviewlist') %>
    
</body>
</html>