<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Status</title>
    <%- include('insideHead') %>
</head>

<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <h2 class="font-bold">Your Course Progress</h2>
    <%- include('notifications') %>
    

    <div>
        <p class="inline-block">Course : </p>
        <p class="font-bold text-3xl inline-block"><%= course.name %></p>
        <div>
            <p class="inline-block bg-lime-300 hover:bg-lime-400 mt-2 hover:cursor-pointer" onclick="window.location.href='/course/<%= course.id %>'">Go Back to Course</p>
        </div>
    </div>
    <div>
        <p class="font-bold bg-sky-300 mt-2 inline-block">Completion Percentage: <%= completionPercentage.toFixed(2) %>%</p>
    </div>
    <% course.Chapters.forEach(chapter=> { %>
        <h3 class="font-bold">
            <%= chapter.name %>
        </h3>
        <% chapter.Pages.forEach(page=> { %>
            <div>
                <span>
                    <%= page.title %>
                </span>
                <% if (page.Completions.length> 0) { %>
                    <span style="color: green;">Completed</span>
                <% } else { %>
                    <span style="color: red;">Not Completed</span>
                <% } %>
            </div>
        <% }); %>
    <% }); %>

    

</body>

</html>