<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <%- include('insideHead') %>
</head>
<body class="text-center">
    <%- include('header.ejs') %>
    <a href="/signout" class="bg-lime-300 hover:bg-lime-400">Signout</a>
    <a href="/dashboard" class="bg-lime-300 hover:bg-lime-400">Home</a>
    <a href="/mycourses" class="bg-lime-300 hover:bg-lime-400">My Courses</a>
    
    <h1 class="text-3xl font-bold mt-3"><%= course[0].name %></h1>
    <% if(status === null || status === undefined){ %>
        <p class="mt-2"><a class="bg-lime-300 hover:bg-lime-400" href="/enroll/<%= course[0].id %>">Enroll</a></p>
    <% } else { %>
        <p class="mt-2">(Enrolled)</p>
        <p class="mt-2"><a href="/course-status/<%= course[0].id %>" class="bg-lime-300 hover:bg-lime-400" target="_blank">View Completion Status</a></p>
    <% } %>
    <h3>Chapters</h3>
    <p>(Click on below Chapters to view Pages...)</p>
    <hr>
    <%- include('notifications') %>
    <table class="mx-auto">
        <tr>
            <th>
                Ch.No
            </th>
            <th>
                Chapter Name
            </th>
        </tr>
        <% for(var i=0; i < chapters.length ;i++){ %>
            <tr class="bg-sky-300 border hover:bg-sky-400" onclick="window.open('/chapters/<%= chapters[i].id %>?courseId=<%= courseId %>', '_blank');" style="cursor: pointer;">
                <td>
                  <%= chapters[i].id %>
                </td>
                <td class="group flex items-center">
                  <%= chapters[i].name %>
                </td>
              </tr>
              

            <% } %>
    </table>
    <p class="mt-2"><a href="javascript:void(0);" onclick="window.close();" class="bg-lime-300 hover:bg-lime-400">Close Tab</a></p>
</body>
</html>