<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Status</title>
    <%- include('insideHead') %>
</head>

<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <h2 class="font-bold">Your Course Progress</h2>
    <%- include('notifications') %>
    <p>Completion Percentage: <%= completionPercentage.toFixed(2) %>%</p>

    <h1 class="font-bold text-3xl">
        <%= course.name %>
    </h1>

    <% course.Chapters.forEach(chapter=> { %>
        <h3 class="font-bold">
            <%= chapter.name %>
        </h3>
        <% chapter.Pages.forEach(page=> { %>
            <div>
                <span>
                    <%= page.title %>
                </span>
                <% if (page.Completions.length> 0) { %>
                    <span style="color: green;">Completed</span>
                <% } else { %>
                    <span style="color: red;">Not Completed</span>
                <% } %>
            </div>
        <% }); %>
    <% }); %>

    <p class="mt-2"><a href="javascript:void(0);" onclick="window.close();" class="bg-lime-300 hover:bg-lime-400">Close Tab</a></p>

</body>

</html>