<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <%- include('insideHead') %>
</head>
<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <div>
        <div class="hover:bg-lime-300 hover:cursor-pointer inline-block" onclick="window.location.href='/course/<%= course[0].id %>'">
            <p class="inline-block">Course : </p>
            <p class="font-bold text-xl inline-block"><%= course[0].name %></p>
        </div>
    </div>
    <% if(status === null || status === undefined){ %>
        <p class="mt-2"><a class="bg-lime-300 hover:bg-lime-400 hover:cursor-pointer" href="/enroll/<%= course[0].id %>">Enroll</a></p>
    <% } else { %>
        <p class="mt-2">(Enrolled)</p>
        <p class="mt-2"><a href="/course-status/<%= course[0].id %>" class="bg-lime-300 hover:bg-lime-400" target="_self">View Completion Status</a></p>
    <% } %>
    
    <hr>
    <%- include('notifications') %>
    

    <h1 class="mt-2 mb-2 font-bold">Chapters</h1>
    <p>(Click on below Chapters to view Pages...)</p>
    <%- include('coursegridview') %>
    
</body>
</html>