<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <%- include('insideHead') %>
</head>

<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
        <h1 class="text-xl font-bold">Hi! <%= userDetail %></h1>
        <p class="">( <%= request.user.email %> )</p>
        <hr>
        <h1>Add Course Here...</h1>
        <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-2">
            <form action="/addCourse" method="post">
                
                    <div>   
                        <input class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" type="text" placeholder="Course Name" name="name" required>
                    </div>
                    <div>
                        <input class="mt-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" type="text" placeholder="Description" name="description" required>
                    </div>
                    <div>
                        <button class="mt-2 bg-lime-300 hover:bg-lime-400 ml-2" type="submit">Add</button>
                    </div>
                
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </div>
        
        <%- include('notifications') %>
        <hr class="mt-2">
        <h1 class="font-bold">Courses created by you...</h1>
        <%- include('courseslist') %>
        <hr class="mt-2">
        <h1 class="font-bold">Courses from Other Educators</h1>
        <p>Use CTRL+F to find a Course</p>
        <%- include('coursesonlms') %>
        <hr class="mt-2">
</body>

</html>