<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <%- include('insideHead') %>
</head>
<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <div class="mt-1">
        <p class="inline-block">Course : </p>
        <p class="font-bold text-xl inline-block"><%= course.name %></p>
        <div>
            <p class="inline-block bg-lime-300 hover:bg-lime-400 mt-2 hover:cursor-pointer" onclick="window.location.href='/course/<%= course.id %>'">Go Back to Chapters</p>
        </div>
    </div>
    <div class="mt-2">
        <p class="inline-block">Chapter : </p>
        <p class="font-bold text-xl inline-block"><%= chapter.name %></p>
        <div>
            <p class="inline-block bg-lime-300 hover:bg-lime-400 mt-2 hover:cursor-pointer" onclick="window.location.href='/chapter/<%= chapter.id %>'">Go Back to Pages</p>
        </div>
    </div>
    <hr class="mb-1 mt-3">
    <h1 class="font-bold text-xl"><%= page.title %></h1>
    <hr class="mb-1 mt-1">
    <div class="mb-2"><%- page.content %></div>
    <%- include('notifications') %>
    <% if(!isComplete) { %>
        <form action="/markAsComplete/<%= page.id %>" method="post">
            <input type="hidden" name="courseId" value="<%= courseId %>">
            <input type="hidden" name="pageId" value="<%= page.id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="bg-lime-300 hover:bg-lime-400">Mark As Complete</button>
        </form>
    <% } else { %>
        <div>
            <p class="inline-block mb-2 bg-sky-200">(Marked Complete)</p>
        </div>
    <% } %>
    
</body>
</html>