<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Report</title>
    <%- include('insideHead') %>
</head>

<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <h2 class="font-bold text-3xl mt-2">Your Courses Report</h2>
    <p class="mt-2">( <%= request.user.email %> )</p>
    
    <%- include('notifications.ejs') %>

    <% if (courseReports.length === 0) { %>
        <div>
            <p class="inline-block bg-red-400 mt-2">You haven't created any courses yet!</p>
        </div>
    <% } %>
   
    <% courseReports.forEach(courseReport=> { %>
        <div>
            <h3 class="font-bold mt-4">
                <%= courseReport.courseName %>
            </h3>
            <p>Enrollment Count: <%= courseReport.enrollmentCount %>
            </p>
        </div>
    <% }); %>

</body>

</html>