<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <%- include('insideHead') %>
</head>

<body class="text-center">
    <%- include('navbar.ejs', { request: request }) %>
    <h1 class="text-xl font-bold mt-2">Hi! <%= userDetail %></h1>
    <p class="">( <%= request.user.email %> )</p>
    <hr>
    <h3>You can enroll in the below courses...</h3>
    <p>Click on any course below to view details...</p>
    <p>Use CTRL+F to find a Course</p>
    <%- include('notifications') %>
    <%- include('courseslist') %>
    <hr class="mt-2">
</body>
 
</html>