<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-center"> 
    <%- include('header.ejs') %>
    <a href="/signout" class="bg-lime-300">Signout</a>
    <a href="/changepassword" class="bg-lime-300">Change Password</a>
    <a href="/mycourses" class="bg-lime-300">My Courses</a>
    <h1 class="text-xl font-bold mt-2">Welcome! <%= userDetail %></h1>
    <hr>
    <h3>You can enroll in the below courses...</h3>
    <p>Click on any course below to view details...</p>
    <table class="mx-auto">
        <tr>
            <th>
                Course.No
            </th>
            <th>
                Course Name
            </th>
        </tr>
        <% for(var i=0; i < courses.length ;i++){ %>
            <tr onclick="window.open('/courses/<%= courses[i].id %>', '_blank');" style="cursor: pointer;">
                <td>
                  <%= courses[i].id %>
                </td>
                <td>
                  <%= courses[i].name %>
                </td>
              </tr>           
        <% } %>
    </table>
</body>
 
</html>